@model HouseholdManager.Mission_Reminders.MissionReminder;

<div class="page-header">
    <h1>Edit Mission Reminder</h1>
</div>

@using (Html.BeginForm("Edit", "Mission Reminder", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.Partial("_Form")
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" value="Update Mission Reminder" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Index", new { Controller = "Mission Reminder" }, new { @class = "btn btn-default" })
        </div>
    </div>
}