@model HouseholdManager.Models.Mission

@{
    ViewData["Title"] = "Edit Mission";
}

<h1>Edit</h1>

<h4>Mission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MissionName" class="control-label"></label>
                <input asp-for="MissionName" class="form-control" />
                <span asp-validation-for="MissionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <select asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Point" class="control-label"></label>
                <input asp-for="Point" class="form-control" />
                <span asp-validation-for="Point" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <ejs-dropdownlist id="ddlUser" ejs-for="MemberId"
                    dataSource="@ViewBag.Members" placeholder="User"
                    floatLabelType="Always" allowFiltering="true" ignoreAccent="true"
                    filterType="Contains" popupHeight="220px">
                    <e-dropdownlist-fields value="MemberId" text="UserName"></e-dropdownlist-fields>
                </ejs-dropdownlist>
                <span asp-validation-for="MemberId" class="text-danger" fs-6></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-sm btn-success mx-2"> <i class="fa-solid fa-plus"></i> Back to List</a>
</div>
<p>
    <a asp-controller="Room" asp-action="Create" class="btn btn-sm btn-success mx-2"> <i class="fa-solid fa-plus"></i> Create a Room</a>
    <a asp-controller="Member" asp-action="AddOrEdit" class="btn btn-sm btn-success mx-2"> <i class="fa-solid fa-plus"></i> Invite a Member</a>
</p>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
