@model IEnumerable<HouseholdManager.Models.Mission>

@{
    ViewData["PageTitle"] = "Missions";
    ViewData["PageActionText"] = "+ New Mission";
    ViewData["PageActionUrl"] = "/Mission/AddOrEdit";
}

<div class="row">
    <div class="col-md-9">
        <ejs-grid id="missions" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Status" template="#typeColumnTemplate" width="100px" textAlign="Left"></e-grid-column>
                <e-grid-column headerText="Mission Name" field="MissionNameWithIcon"></e-grid-column>
                <e-grid-column headerText="Member" field="MemberNameWithIcon" width="100px" textAlign="Left"></e-grid-column>
                <e-grid-column headerText="Room" field="RoomNameWithIcon" width="120px" textAlign="Left"></e-grid-column>
                <e-grid-column headerText="Points" field="MissionPoints" width="80px" textAlign="Center"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>

    </div>
    <div class="col-md-2">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-person-circle-check fa-2xl"></i>
        </div>
    </div>
</div>

<script id="typeColumnTemplate" type="text/x-template">
    ${if(MissionStatus=="Done")}
        <span class="badge bg-success">${MissionStatus}</span>
    ${else}
        <span class="badge bg-danger">${MissionStatus}</span>
        ${/if}
</script>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Mission/AddOrEdit/${MissionId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form action="/Mission/Delete/${MissionId}" method="post">
    @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(&quot;Are sure to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button>
        </form>
    </div>
</script>

