@model HouseholdManager.Models.Member

@{
    ViewData["PageTitle"] = Model.MemberId == 0 ? "Create a new member" : "Edit member";
}


<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color: #1a222b">
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="MemberId" value="@Model.MemberId" />
                <div class="mb-3">
                    <div class='e-btn-group custom-rbt-group'>
                        <input type="radio" id="radioleft" name="MemberType" value="Admin" checked="@(Model.MemberType=="Admin")" />
                        <label class="e-btn" for="radioleft">Admin</label>
                        <input type="radio" id="radiomiddle" name="MemberType" value="Member" checked="@(Model.MemberType=="Member")" />
                        <label class="e-btn" for="radiomiddle">Member</label>
                    </div>
                </div>
                <div class="mb-3">
                    <ejs-dropdownlist id="ddlUser" ejs-for="UserName"
                                      dataSource="ViewBag.AppUsers" placeholder="User"
                                      floatLabelType="Always" allowFiltering="true" ignoreAccent="true"
                                      filterType="Contains" popupHeight="220px">
                        <e-dropdownlist-fields value="UserName" text="UserName"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="UserName" class="text-danger" fs-6></span>
                    </div>

                <div class="mb-3">
                    <label asp-for="Icon" class="control-label"></label>
                    <input asp-for="Icon" id="iconInput" class="form-control" hidden />
                    @await Html.PartialAsync("_IconMenuPartial")
                    <span asp-validation-for="Icon" class="text-danger" fs-6></span>
                </div>
                <div class="mb-3">
                    <ejs-dropdownlist id="ddlHousehold" ejs-for="HouseholdId"
                                      dataSource="@ViewBag.Households" placeholder="Household"
                                      floatLabelType="Always" allowFiltering="true" ignoreAccent="true"
                                      filterType="Contains" popupHeight="220px">
                        <e-dropdownlist-fields value="HouseholdId" text="HouseholdNameWithIcon"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="HouseholdId" class="text-danger" fs-6></span>
                </div>
                <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
            </form>
        </div>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-user-large fa-2xl"></i>
        </div>
    </div>
</div>
<p>
    <a asp-controller="Mission" asp-action="Create" class="btn btn-sm btn-success mx-2"> <i class="fa-solid fa-plus"></i> Create a Mission</a>
    <a asp-controller="Room" asp-action="Create" class="btn btn-sm btn-success mx-2"> <i class="fa-solid fa-plus"></i> Create a Room</a>
    <a asp-controller="Household" asp-action="AddOrEdit" class="btn btn-sm btn-success mx-2"> <i class="fa-solid fa-plus"></i> Create a Household</a>
</p>

@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@
