@model IEnumerable<HouseholdManager.Models.ViewModels.MemberViewModel>

@{
    ViewData["Title"] = "Members";
    ViewData["PageActionText"] = "+ New Member";
    ViewData["PageActionUrl"] = "/Member/AddOrEdit";
}

<h1>All Members</h1>

@await Html.PartialAsync("_CreationButtonsPartial")

<div class="row">
    <div class="col-md-9">
        <ejs-grid id="members" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="MemberName" template="#memberNameTemplate" width="25%"></e-grid-column>
                <e-grid-column headerText="MemberType" template="#typeColumnTemplate" width="25%"></e-grid-column>
                <e-grid-column headerText="Household" template="#householdNameTemplate" width="25%" textAlign="Left"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="25%"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-2">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-users fa-2xl"></i>
        </div>
    </div>
</div>

<script id="householdNameTemplate" type="text/x-template">
    <text class="icon-font">${HouseholdIcon}</text> <text>${HouseholdName}</text>
</script>

<script id="memberNameTemplate" type="text/x-template">
    <text class="icon-font">${Icon}</text> <text>${UserName}</text>
</script>

<script id="typeColumnTemplate" type="text/x-template">
    ${if(MemberType=="Member")}
        <span class="badge bg-success-theme">${MemberType}</span>
    ${else}
        <span class="badge bg-danger-theme">${MemberType}</span>
        ${/if}
</script>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm btn-primary mx-1" href="/Member/AddOrEdit/${MemberId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <a class="btn btn-sm btn-secondary mx-1" href="/Member/Details/${MemberId}">
            <i class="fa-solid fa-list-check"></i>
        </a>
        <form action="/Member/Delete/${MemberId}" method="post">
    @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-warning mx-1"
            onclick="return confirm(&quot;Are you sure you want to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can"></i>
            </button>
        </form>
    </div>
</script>
