
<div class="button-row-container">
    <a asp-controller="Mission" asp-action="Create" class="btn btn-sm btn-primary mx-2"> <i class="fa-solid fa-plus"></i> Add Mission</a>
    <a asp-controller="Room" asp-action="Create" class="btn btn-sm btn-primary mx-2"> <i class="fa-solid fa-plus"></i> Add Room</a>
    <a asp-controller="Member" asp-action="Invite" class="btn btn-sm btn-primary mx-2"> <i class="fa-solid fa-plus"></i> Add Member</a>
</div>
