
<span>
    <a asp-controller="Mission" asp-action="Create" class="btn btn-sm btn-success mx-2"> <i class="fa-solid fa-plus"></i> Mission</a>
    <a asp-controller="Room" asp-action="Create" class="btn btn-sm btn-primary"> <i class="fa-solid fa-plus"></i> Room</a>
    <a asp-controller="Household" asp-action="AddOrEdit" class="btn btn-sm btn-accent mx-2"> <i class="fa-solid fa-plus"></i> Household</a>
    <a asp-controller="Member" asp-action="AddOrEdit" class="btn btn-sm btn-option mx-2"> <i class="fa-solid fa-plus"></i> Member</a>
</span>
