@model HouseholdManager.Data.SendSms.TransferredData


@{
    ViewData["Title"] = "Create Notification";
}

<h3>Create a Mission</h3>
@await Html.PartialAsync("_CreationButtonsPartial")
<div class="row">
    <div class="col-md-7">
        <div class="widget p-5 form-bg">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <select asp-for="PhoneNumber" class="form-control" asp-items="ViewBag.PhoneNumber"></select>
                </div>
                <div class="form-group">
                    <label asp-for="MessageBody" class="control-label"></label>
                    <input asp-for="MessageBody" class="form-control" asp-items="ViewBag.MessageBody"></>
                   
                
                
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-button"> <i class="fa-solid fa-floppy-disk"></i> Create</button>
                    <a asp-action="Index" class="btn btn-secondary form-button"> <i class="fa-solid fa-arrow-left"></i> Back to List</a>
                </div>

            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }