
//@import "../lib/bootstrap/scss/_variables-dark.scss";
//
// Additional Colors (see additional-colors.scss)
//

$accent-text-dark: shade-color($custom-accent, 10%);
$option-text-dark: shade-color($custom-option, 10%);
$accent-bg-subtle-dark: shade-color($custom-accent, 25%);
$option-bg-subtle-dark: shade-color($custom-option, 25%);
$accent-border-subtle-dark: shade-color($custom-accent, 15%);
$option-border-subtle-dark: shade-color($custom-option, 15%);


@if $enable-dark-mode {
  @include color-mode(dark, true) {
        //These names must match the ones in the map from additional-colors.scss
        --#{$prefix}accent-text: #{$accent-text-dark};
        --#{$prefix}option-text: #{$option-text-dark};
        --#{$prefix}accent-bg-subtle: #{$accent-bg-subtle-dark};
        --#{$prefix}option-bg-subtle: #{$option-bg-subtle-dark};
        --#{$prefix}accent-border-subtle: #{$accent-border-subtle-dark};
        --#{$prefix}option-border-subtle: #{$option-border-subtle-dark};
        --#{$prefix}bg-primary-theme: #{$primary};
        --#{$prefix}bg-secondary-theme: #{$secondary};
        --#{$prefix}bg-info-theme: #{$info};
        --#{$prefix}bg-success-theme: #{$success};
        --#{$prefix}bg-warning-theme: #{$warning};
        --#{$prefix}bg-danger-theme: #{$danger};
        --#{$prefix}bg-accent-theme: #{$custom-accent};
        --#{$prefix}bg-option-theme: #{$custom-option};
  }
}


[data-bs-theme="dark"]
.form-bg {
    background-color: #{$body-tertiary-bg-dark};
}
