
//Light mode specific customizations

@mixin light-altrow {
    background-color: tint-color($primary-bg-subtle, 60%) !important;
}

//SyncFusion grid alt row colors
[data-bs-theme="light"] {
    .e-grid .e-row.e-altrow {
        @include light-altrow;
    }

    .control-section .e-grid .e-row.e-altrow .e-rowcell {
        @include light-altrow;
    }

    .control-section .e-grid .e-groupcaption {
        color: $headings-color !important;
        font-weight: 600;
    }
}
