
<div class="row">
    <div class="col-md-7">
        <div class="widget p-5 bg-body-secondary">
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <ejs-textbox id="householdname" placeholder="HouseholdName" ejs-for="Name" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Name" class="text-danger" fs-6></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Icon" class="control-label"></label>
                    <input asp-for="Icon" id="iconInput" class="form-control" hidden />
                    @await Html.PartialAsync("_IconMenuPartial")
                    <span asp-validation-for="Icon" class="text-danger" fs-6></span>
                </div>
                <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
            </form>
        </div>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-person-shelter fa-2xl"></i>
        </div>
    </div>
</div>
