
<script src="~/js/welcomePopup.js"></script>
<div id="welcomePopup" class="welcome-popup fade-out-1s bg-body-tertiary">
    <div>
        <h1 style="font-family: Oxygen" class="text-info-emphasis">Welcome, @Model!</h1>

        <p class="text-body">Let's get you set up.  For starters, you'll need a Household.
        You can create a new one, or join an existing one if you have a code.
        Don't worry, you can always change this later!'</p>

        <button type="button" id="dismissButton"
                class="btn btn-lg btn-primary w-100" onclick="dismissWelcome()" disabled>OK</button>
    </div>
</div>
