@model HouseholdManager.Models.Household

@{
    ViewData["Title"] = Model.HouseholdId == 0 ? "Create a New Household" : "Edit Household";
}


<h3>@ViewData["Title"]</h3>
@await Html.PartialAsync("_CreationButtonsPartial")

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5 form-bg">
            <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="HouseholdId" value="@Model.HouseholdId" />
                <div class="mb-3">
                    <ejs-textbox id="householdname" placeholder="Household Name" ejs-for="HouseholdName" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="HouseholdName" class="text-danger" fs-6></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Icon" class="control-label"></label>
                    <input asp-for="Icon" id="iconInput" class="form-control" hidden />
                    @await Html.PartialAsync("_IconMenuPartial", new ViewDataDictionary(ViewData){{"Icon", Model.Icon}})
                    <span asp-validation-for="Icon" class="text-danger" fs-6></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-button"> <i class="fa-solid fa-floppy-disk"></i> Save</button>
                    <a asp-action="Index" class="btn btn-secondary form-button"> <i class="fa-solid fa-arrow-left"></i> Back to List</a>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-person-shelter fa-2xl"></i>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

