@using Microsoft.AspNetCore.Identity
@inject UserManager<Member> UserManager

@{
    ViewData["Title"] = "Welcome";
    var userName = UserManager.GetUserName(User) ?? "New User";
}

@await Html.PartialAsync("_WelcomePopup", userName)

<div class="container-lg add-join-switchbox">
    <h2>Would you like to...</h2>
    <span>
        @Html.ActionLink("Create a Household", 
                         "Setup", 
                         "Household", 
                         routeValues: null, 
                         htmlAttributes: new {
                             @class = "btn btn-lg btn-primary"
        })
        @Html.ActionLink("Join Existing Household", 
                         "JoinExisting", 
                         "Household", 
                         routeValues: null, 
                         htmlAttributes: new {
                             @class = "btn btn-lg btn-option"
                         })
    </span>
</div>
