@model IEnumerable<HouseholdManager.Models.Household>

@{
    ViewData["PageTitle"] = "Households";
    ViewData["PageActionText"] = "+ New Household";
    ViewData["PageActionUrl"] = "/Household/AddOrEdit";
}

<h1>All Households</h1>

@await Html.PartialAsync("_CreationButtonsPartial")

<div class="row">
    <div class="col-md-9">
        <ejs-grid id="households" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Household Name" field="HouseholdNameWithIcon" width="75%px"></e-grid-column>
               
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="25%"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>

    </div>
    <div class="col-md-2">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-people-roof fa-2xl"></i>
        </div>
    </div>
</div>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm btn-primary mx-1" href="/Household/AddOrEdit/${HouseholdId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <a class="btn btn-sm btn-secondary mx-1" href="/Household/Details/${HouseholdId}">
            <i class="fa-solid fa-list-check"></i>
        </a>
        <form action="/Household/Delete/${HouseholdId}" method="post">
    @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-warning mx-1"
            onclick="return confirm(&quot;Are you sure you want to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can"></i>
            </button>
        </form>
    </div>
</script>
