
@{
    ViewData["Title"] = "Join Household";
}

<p>This page is for entering a "house code" to join an existing household.</p>

<p>I don't have all the details of how that's going to work figured out yet, but 
    it'll probably involve emails, a link table, another page to create an invite code, 
    and a form on this page.</p>