@*@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <p>(placeholder)</p>
    <h1 class="display-4" style="font-family: Oxygen">Household Manager: The Homepage</h1>
    <span>
        <text style="font-size: 24px">It ain't much, but it's home</text>
        <text style="font-size: 10px">...page.</text>
    </span>
</div>*@

@model string

@{
    ViewData["Title"] = "Authentication";
}

<h1 class="bg-info text-white">Index</h1>
@Model

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
}
