@{
    ViewData["Title"] = "Welcome Page";
}
<div class="homepage-main">
        <!-- Header -->
        <div class="container-xxl">
            <h1 class="text-ultra-xl"><b>Household</b></h1>
            <h1 class="text-ultra-xl text-danger"><b>Manager</b></h1>
            <hr class="homepage-break">
            <p>The best household managing application for your group.</p>

            <p>
                Household Manager was created for busy households like yours!  
                As the administrator you can name your household and add/edit your members with a click of a button.  
                Everyone can create, edit and delete the rooms and missions.
            </p>
            <p>
                Finished a job?  Edit the mission to mark it as "complete" so that everyone knows the job is done!
            </p>
            <p>
                Feel like you are doing it all?  View the "Dashboard" to see all missions and a graph of points earned per user.
            </p>

    </div>
    <br />

        <!-- Households -->

        <div class="container-xxl">
            <div class="homepage-header">
                <i class="fa-solid fa-people-roof fa-2xl"></i>
                <h2 class="text-ultra-xl text-danger"><b>Households.</b></h2>
            </div>
            <hr class="homepage-break">
            <p>The best team in the world.</p>

            <p>
                "Households" represents your tribe.  Your group.  Your family.  You can call them whatever you like.  :)
            </p>
            <p>
                <b>
                    “We must take care of our families wherever we find them.”

                    ― Elizabeth Gilbert
                </b>
            </p>
    </div>
    <br />

        <!-- Members -->
        <div class="container-xxl">
            <div class="homepage-header">
                <i class="fa-solid fa-users fa-2xl"></i>
                <h2 class="text-ultra-xl text-danger"><b>Members.</b></h2>
            </div>
            <hr class="homepage-break">
            <p>Remember there is no "I" in teamwork.</p>
            
            <p>
                Members are the people that make up your team.  Add as many as you would like.
            </p>
            <p>
                <b>
                    "The key to life is not accumulation, it is contribution.”

                    – Stephen Covey.
                </b>
            </p>
    </div>
    <br />

        <!-- Rooms -->
        <div class="container-xxl" id="designers">
            <div class="homepage-header">
                <i class="fa-solid fa-door-closed fa-2xl"></i>
                <h2 class="text-ultra-xl text-danger"><b>Rooms.</b></h2>
            </div>
            <hr class="homepage-break">
            <p>The places work is done.</p>
            
            <p>
                Rooms can be literal space or any place that work is done.
            </p>
            <p>
                <b>
                    “A house is made of walls and beams; a welcome is built of love and dreams”

                    -Ralph Waldo Emerson
                </b>
            </p>
    </div>
    <br />

        <!-- Missions -->
        <div class="container-xxl" id="designers">
            <div class="homepage-header">
                <i class="fa-solid fa-person-circle-check fa-2xl"></i>
                <h2 class="text-ultra-xl text-danger"><b>Missions.</b></h2>
            </div>
            <hr class="homepage-break">
            <p>Taking care of yourself also means taking care of your environment.</p>
         
            <p>
                Missions are the things that need to be done.
                Assign/earn points depending upon the value or difficulty of the job.
            </p>
            <p>
                <b>
                    “When Your Environment Is Clean You Feel Happy, Motivated And Healthy”

                    – Lailah Gifty Akita
                </b>
            </p>
    </div>
    <br />
</div>
