@{
    ViewData["Title"] = "Welcome Page";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Poppins", sans-serif
        }

        body {
            font-size: 16px;
        }

        .w3-half img {
            margin-bottom: -6px;
            margin-top: 16px;
            opacity: 0.8;
            cursor: pointer
        }

            .w3-half img:hover {
                opacity: 1
            }
    </style>
</head>
<body>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main">

        <!-- Header -->
        <div class="w3-container" style="margin-top:80px" id="showcase">
            <h1 class="w3-jumbo"><b>Household</b></h1>
            <h1 class="w3-jumbo w3-text-red"><b>Manager</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
        </div>

        <!-- Households -->

        <div class="w3-container" id="designers" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>Households.</b></h1>
            <div class="w3-half">
                <div class="widget h-100 d-flex justify-content-center align-items-center" style="width:100%" alt="Household">
                    <i class="fa-solid fa-people-roof fa-2xl"></i>
                </div>
            </div>
            <hr style="width:50px;border:5px solid red" class="w3-round">
            <p>The best team in the world.</p>

            <p>
                "Households" represents your tribe.  Your group.  Your family.  You can call them whatever you like.  :)
            </p>
            <p>
                <b>
                    “We must take care of our families wherever we find them.”

                    ― Elizabeth Gilbert
                </b>
            </p>
        </div>

        <!-- Members -->
        <div class="w3-container" id="designers" style="margin-top:75px">

            <h1 class="w3-xxxlarge w3-text-red"><b>Members.</b></h1>
            <div class="w3-half">
                <div class="widget h-100 d-flex justify-content-center align-items-center" style="width:100%" onclick="onClick(this)" alt="Household">
                    <i class="fa-solid fa-users fa-2xl"></i>
                </div>
            </div>
            <hr style="width:50px;border:5px solid red" class="w3-round">
            <p>Remember there is no "I" in teamwork.</p>
            
            <p>
                Members are the people that make up your team.  Add as many as you would like.
            </p>
            <p>
                <b>
                    "The key to life is not accumulation, it is contribution.”

                    – Stephen Covey.
                </b>
            </p>
        </div>

        <!-- Rooms -->
        <div class="w3-container" id="designers" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>Rooms.</b></h1>
            <div class="w3-half">
                <div class="widget h-100 d-flex justify-content-center align-items-center" style="width:100%" onclick="onClick(this)" alt="Household">
                    <i class="fa-solid fa-door-closed fa-2xl"></i>
                </div>
            </div>
            <hr style="width:50px;border:5px solid red" class="w3-round">
            <p>The places work is done.</p>
            
            <p>
                Rooms can be literal space or any place that work is done.
            </p>
            <p>
                <b>
                    “A house is made of walls and beams; a welcome is built of love and dreams”

                    -Ralph Waldo Emerson
                </b>
            </p>
        </div>

        <!-- Missions -->
        <div class="w3-container" id="designers" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>Missions.</b></h1>
            <div class="w3-half">
                <div class="widget h-100 d-flex justify-content-center align-items-center" style="width:100%" onclick="onClick(this)" alt="Household">
                    <i class="fa-solid fa-person-circle-check fa-2xl"></i>
                </div>
            </div>
            <hr style="width:50px;border:5px solid red" class="w3-round">
            <p>Taking care of yourself also means taking care of your environment.</p>
         
            <p>
                Missions are the things that need to be done.
                Assign/earn points depending upon the value or difficulty of the job.
            </p>
            <p>
                <b>
                    “When Your Environment Is Clean You Feel Happy, Motivated And Healthy”

                    – Lailah Gifty Akita
                </b>
            </p>
        </div>



        <!-- End page content -->
    </div>

</body>
