@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <p>(placeholder)</p>
    <h1 class="display-4" style="font-family: Oxygen">Household Manager: The Homepage</h1>
    <span>
        <text style="font-size: 24px">It ain't much, but it's home</text>
        <text style="font-size: 10px">...page.</text>
    </span>
</div>
