@model HouseholdManager.Models.Room

@{
    ViewData["Title"] = "Create Room";
}

<h1>Create</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomName" class="control-label"></label>
                <input asp-for="RoomName" class="form-control" />
                <span asp-validation-for="RoomName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomIcon" class="control-label"></label>
                <input asp-for="RoomIcon" class="form-control" />
                <span asp-validation-for="RoomIcon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
