@model HouseholdManager.Models.Room

@{
    ViewData["Title"] = "Room Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomIcon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomIcon)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RoomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
