@model IEnumerable<HouseholdManager.Models.Room>

@{
    ViewData["Title"] = "Rooms";
}

<h1>All Rooms</h1>

@await Html.PartialAsync("_CreationButtonsPartial")

<div class="row">
    <div class="col-md-15">
        <ejs-grid id="rooms" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Room" template="#roomNameTemplate" width="40%"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="40%"></e-grid-column>
                <e-grid-column headerText="Dirtometer" template="#sliderColumnTemplate" width="20%"></e-grid-column>

                
            </e-grid-columns>
        </ejs-grid>

    </div>
</div>

<script id="roomNameTemplate" type="text/x-template">
    <text class="icon-font">${Icon}</text> <text>${Name}</text>
</script>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm btn-primary mx-1" href="/Room/Edit/${RoomId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <a class="btn btn-sm btn-secondary mx-1" href="/Room/Details/${RoomId}">
            <i class="fa-solid fa-list-check"></i>
        </a>
        <form action="/Room/Delete/${RoomId}" method="post">
    @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-warning mx-1"
            onclick="return confirm(&quot;Are you sure you want to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can"></i>
            </button>
        </form>
        
    </div>
</script>
<script id="sliderColumnTemplate" type="text/javascript">
    <form class="multi-range-field my-1 pb-1" >
        <input id="multi" class="multi-range" type = "range" />
            </form>
</script>

            