html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.icon-picker-menu, .icon-button-list {
    display: block;
    width: 600px;
    height: 800px;
}

.icon-button-item {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    overflow: auto;
    align-content: flex-start;
}