html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.icon-picker-menu {
    display: block;
    position: absolute;
    justify-content: center;
    background-color: var(--bs-body-bg);
    border-width: 6px;
    border-style: solid;
    border-color: var(--bs-secondary);
    width: 315px;
    height: 250px;
    overflow: auto;
    z-index: 1;
}

.icon-button-list {
    position: relative;
    transform: translateX(-10%);
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 10px;
    row-gap: 5px;
}

.icon-button-item {
    font-size: large;
    min-height: 18px;
    max-height: 24px;
    min-width: 18px;
    max-width: 24px;
    justify-self: center;
}

.icon-slug-display-small {
    font-size: smaller;
    color: var(--bs-secondary);
}

.icon-random {
    font-size: small;
    width: 85px;
    height: 30px;
}

.icon-search {
    min-width: 100px;
    max-width: 140px;
}

.icon-font {
    font-family: "Noto Color Emoji" !important;
}

.button-row-container {
    display: inline-grid;
    grid-template-columns: [first] auto [second] auto [third] auto [fourth] auto;
    place-self: center;
}

.welcome-popup {
    padding: 40px 40px;
    position: fixed;
    z-index: 25;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-style: solid;
    border-color: var(--bs-info);
}

.welcome-popup > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#dismissButton {
    width: 25%;
    height: 15%;
}

.add-join-switchbox {
    width: 75%;
    height: 75%;
    display: grid;
    justify-items: center;
    grid-template-rows: [heading] 3fr [buttons] 2fr [space] 3fr;
}

.fade-out-1s {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.7s linear, opacity 0.7s linear;
}

.fade-in-1s {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.7s linear, opacity 0.7s linear;
}

/*WIP wobble back-and-forth effect
.effect-wobble {
    animation: wobble 5s linear 0s infinite backwards;
}

@media (prefers-reduced-motion) {
    .effect-wobble {
        animation: none;
    }
}

@keyframes wobble {
    10% {
        transform: rotateZ(0.02rad);
    }
    25% {
        transform: rotateZ(0.01rad);
    }
    50% {
        transform: rotateZ(-0.01rad);
    }
    85% {
        transform: rotateZ(-0.02rad);
    }
}
*/
