@model HouseholdManager.Models.Mission

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["isDashboard"] = true;
    ViewData["Title"] = "Dashboard";
}


@*Summary Widgets*@
<div class="row">
        <div class="col-md-12">
            <div class="p-4">
                <h5 class="fw-bold">Missions:</h5>
            </div>
            <ejs-grid id="missions" dataSource="@ViewBag.AllMissions" gridLines="None"
                      allowSorting="true" allowPaging="true">
                <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column headerText="Due Date" field="DueDate" width="120px"></e-grid-column>
                    <e-grid-column headerText="Mission Name" field="MissionName"></e-grid-column>
                    <e-grid-column headerText="Member Assigned" field="Member.MemberUserNameWithIcon" width="200px" textAlign="Left"></e-grid-column>
                    <e-grid-column headerText="Room" field="Room.Name" width="150px" textAlign="Left"></e-grid-column>
                    <e-grid-column headerText="Points" field="Point" width="90px" textAlign="Center"></e-grid-column>
                <e-grid-column headerText="Completed" type="ColumnType.CheckBox" field="Completed" width="120px"></e-grid-column>
                    <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="100px"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
</div>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Mission/AddOrEdit/${MissionId}">
            <i class="fa-solid fa-pen fa-lg text-secondary"></i>
        </a>
        <form action="/Mission/Delete/${MissionId}" method="post">
    @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(&quot;Are sure to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button>
        </form>
    </div>
</script>

@*Doughnut Chart*@

    <div class="col-md-12">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Points by Member:</h5>
            </div>
            <ejs-accumulationchart id="doughnutchart" enableSmartLabels background="#1a222b">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.DoughnutChartData"
                            xName="memberNameWithIcon" yName="amount" innerRadius="40%" legendShape="Circle">
                        <e-accumulationseries-datalabel name="formattedAmount" visible></e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top">
                    <e-legendsettings-textstyle  color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>   

