@using HouseholdManager.Models.ViewModels

@{
    ViewData["Title"] = "Dashboard";
}


@*Summary Widgets*@
<div class="row">
        <div class="col-md-12">
            <div class="p-4">
                <h5 class="fw-bold">Missions:</h5>
            </div>
            <ejs-grid id="missions" dataSource="@(List<FullMissionViewModel>)ViewBag.AllMissions" gridLines="None"
                      allowSorting="true" allowPaging="true">
                <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column headerText="Due Date" field="DueDate" width="15%" textAlign="Left"></e-grid-column>
                    <e-grid-column headerText="Mission Name" field="Name" width="20%" textAlign="Left"></e-grid-column>
                    <e-grid-column headerText="Member" template="#memberNameTemplate" width="15%" textAlign="Left"></e-grid-column>
                    <e-grid-column headerText="Room" template="#roomNameTemplate" width="20%" textAlign="Left"></e-grid-column>
                    <e-grid-column headerText="Points" field="Point" width="90px" textAlign="Left" width="10%"></e-grid-column>
                    <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="20%"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
</div>

<script id="memberNameTemplate" type="text/x-template">
    <text class="icon-font">${MemberIcon}</text> <text>${MemberName}</text>
</script>

<script id="roomNameTemplate" type="text/x-template">
    <text class="icon-font">${RoomIcon}</text> <text>${RoomName}</text>
</script>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm btn-primary mx-1" href="/Mission/Edit/${Id}">
            <i class="fa-solid fa-pen"></i>
        </a>
        <a class="btn btn-sm btn-secondary mx-1" href="/Mission/Details/${Id}">
            <i class="fa-solid fa-list-check"></i>
        </a>
        <form action="/Mission/Delete/${Id}" method="post">
        @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-warning mx-1"
            onclick="return confirm(&quot;Are you sure you want to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can"></i>
            </button>
        </form>
    </div>
</script>

@*Doughnut Chart*@

    <div class="col-md-12">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Points by Member:</h5>
            </div>
            <ejs-accumulationchart id="doughnutchart" enableSmartLabels>
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@(List<DashboardViewModel>)ViewBag.DoughnutChartData"
                            xName="MemberName" yName="Amount" innerRadius="40%" legendShape="Circle">
                        <e-accumulationseries-datalabel name="FormattedAmount" visible></e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top">
                    <e-legendsettings-textstyle  color="var(--bs-heading-color)" size="1rem"></e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>   

