@model HouseholdManager.Models.Mission

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["isDashboard"] = true;
    ViewData["Title"] = "Dashboard";
}

<h3>@ViewData["Title"]</h3>

@*Summary Widgets*@

@await Html.PartialAsync("_CreationButtonsPartial")

<div class="row">
    <div class="col-md-12">
        <div class="p-4">
            <h5 class="fw-bold">Missions:</h5>
        </div>
        <ejs-grid id="missions" dataSource="@ViewBag.AllMissions" gridLines="None"
                      allowSorting="true" allowPaging="true">
                <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Mission" field="MissionName" width="23%"></e-grid-column>
                <e-grid-column headerText="Room" field="RoomNameWithIcon" width="15%"></e-grid-column>
                <e-grid-column headerText="Points" field="Point" width="8%" textAlign="Center"></e-grid-column>
                <e-grid-column headerText="Due Date" field="DueDate" format="MMM-dd-yyyy" width="12%"></e-grid-column>
                <e-grid-column headerText="Completed" template="#actionYesNoTemplate" width="12%" textAlign="Center"></e-grid-column>
                <e-grid-column headerText="Member" field="MemberUserNameWithIcon" width="15%"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="15%"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>

    </div>
</div>



<script id="actionYesNoTemplate" type="text/x-template">
    ${if(Completed==1)}
        <span class="badge bg-success">Yes</span>
    ${else}
        <span class="badge bg-danger">No</span>
        ${/if}
</script>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm btn-primary mx-1" href="/Mission/Edit/${MissionId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <a class="btn btn-sm btn-secondary mx-1" href="/Mission/Details/${MissionId}">
            <i class="fa-solid fa-list-check"></i>
        </a>
        <form action="/Mission/Delete/${MissionId}" method="post">
    @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-warning mx-1"
            onclick="return confirm(&quot;Are you sure you want to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can"></i>
            </button>
        </form>
    </div>
</script>

@*Doughnut Chart*@

    <div class="col-md-12">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Points by Member:</h5>
            </div>
            <ejs-accumulationchart id="doughnutchart" enableSmartLabels background="#1a222b">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.DoughnutChartData"
                            xName="memberNameWithIcon" yName="amount" innerRadius="40%" legendShape="Circle">
                        <e-accumulationseries-datalabel name="formattedAmount" visible></e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top">
                    <e-legendsettings-textstyle  color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>   

@*list by room with due date*@
@{
    ViewData["Title"] = "List by Rooms";
}
<div class="row">
    <div class="col-md-12">
        <div class="p-4">
            <h5 class="fw-bold">Rooms with due dates:</h5>

    <div class="control-section">
        <ejs-grid id="Grid" dataSource="ViewBag.AllMissions" allowsorting="true" allowPaging="true">

                <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>            <e-grid-columns>
                <e-grid-column headerText="Room" field="RoomNameWithIcon" width="15%"></e-grid-column>
                        <e-grid-column headerText="Mission" field="MissionName" width="23%"></e-grid-column>

                <e-grid-column headerText="Due Date" field="DueDate" format="MMM-dd-yyyy" width="12%"></e-grid-column>
                <e-grid-column headerText="Completed" template="#actionYesNoTemplate" width="12%" textAlign="Center"></e-grid-column>
            </e-grid-columns>

        </ejs-grid>
    </div>
        </div>
    </div>
</div>

